body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    padding: 40px;
}

h1 {
    margin-bottom: 30px;
}

.panel {
    background: #1e293b;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
li {
    padding: 6px 0;
}